.container {
  background: linear-gradient(to bottom, var(--linear-one), var(--linear-two));
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  padding: 2rem;
}

.header__img {
  width: 33%;
}

.container___img__desktop {
  display: none;
}

.imagens__img-mobile {
  width: 100%;
  max-height: 23.438rem;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
    height: 100vh;
  }

  .containerHeader {
    padding: 3rem 4rem;
    background-image: url("/assets/images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--linear-two);
  }

  .header {
    padding: 0 0 6rem;
  }

  .imagens__img-mobile {
    display: none;
  }

  .container___img__desktop {
    display: block;
    align-self: center;
  }

  .imagens__img-desktop {
    width: 100%;
    max-height: 100vh;
  }
}

@media screen and (min-width: 1024px) {
  .header__img {
    width: 20%;
  }

  .containerHeader {
    padding: 3rem 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__img {
    width: 36%;
  }
}
